<!DOCTYPE html>
<html>
  <head>
    <title>:)</title>
		<!-- Foundation CSS framework (Bootstrap and jQueryUI also supported) -->
		<link rel='stylesheet' href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css'>
		<!-- Font Awesome icons (Bootstrap, Foundation, and jQueryUI also supported) -->
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
		<script src="/javascripts/jsoneditor.js"></script>
		<script src="/javascripts/jx.js"></script>
  </head>
  <body>
    <div class="row">
    	<div class="large-6 columns">
  		  <h1>Patient Tracker</h1>
  	  </div>
      <div class="large-6 columns">
        <a href="/saves">Saves</a> &bull; <a href="/clients">Clients</a>
      </div>
    </div>

  	<div class="row">
      <div class="large-12 columns">
      	<h1>Saves</h1>
        <table>
          <thead>
            <tr>
              <th>Save Id</th>
              <th>Client Id</th>
              <th>Date</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <% docs.forEach(function (doc) { %>
            <tr>
              <td style="font-size: xx-small; font-family: monospace;"><%= doc._id %></td>
              <td style="font-size: xx-small; font-family: monospace;"><a href="/clients/<%= doc.client %>"><%= doc.client %></a></td>
              <td style="font-size: xx-small; font-family: monospace;"><%= doc.datecreated %></td>
              <td style="font-size: xx-small; font-family: monospace;"><%= doc.data %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
