<!DOCTYPE html>
<html>
  <head>
    <title>:)</title>
		<!-- Foundation CSS framework (Bootstrap and jQueryUI also supported) -->
		<link rel='stylesheet' href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css'>
		<!-- Font Awesome icons (Bootstrap, Foundation, and jQueryUI also supported) -->
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
		<script src="/javascripts/jsoneditor.js"></script>
		<script src="/javascripts/jx.js"></script>
  </head>
  <body>
  <div class="large-12 columns">
	<h1>Patient Tracker</h1>
	</div>

  <div class="row">
    <a href="/saves">Saves</a> &bull; <a href="/clients">Clients</a>
    <h1>Saves</h1>
    <ul>
    <% docs.forEach(function (doc) { %>
      <li><a href="/clients/<%= doc._id %>">~</a> <span><%= doc._id %></span> <span><%= doc.client %></span> <%= doc.datecreated %> <%= doc.data %></li>
    <% }) %>
    </ul>
    </div>
  </body>
</html>
